* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* Cores */
  --tt-heading: hsl(194, 68%, 15%);

  --tt-label: hsl(170, 100%, 14%);

  --bg-input: hsl(212, 23%, 89%);
  --tt-input: hsl(210, 11%, 15%);
  --ot-input: hsl(194, 97%, 31%);
  --bd-input: rgba(73, 80, 87, 0.3);

  --tt-placeholder: rgba(73, 80, 87, 0.5);

  --tt-button: #fff;
  --bg-button: hsl(194, 97%, 31%);
  --bg-button-hover: hsl(194, 97%, 15%);

  --bg-error: hsl(0, 86%, 59%);
  --tt-error: #fff;

  --color-base-blue: hsl(194, 97%, 31%);
  --color-base-blue-dark: hsl(231, 80%, 8%);
}

body {
  background-color: var(--color-base-blue-dark);

  font-family: "Roboto", sans-serif;
}

body,
input,
button {
  font-size: 1.6rem;
  line-height: 2rem;
}

.container {
  height: 100vh;
  display: grid;
  place-content: center;
}

.card {
  background-color: #fff;
  padding: 4.8rem 6.4rem 6.4rem;

  max-width: 42.8rem;

  margin-inline: auto;

  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 3.2rem;
  line-height: 4rem;

  color: var(--tt-heading);
}

form h1 {
  margin-bottom: 3.2rem;
}

form label {
  font-size: 1.4rem;
  line-height: 1.8rem;

  color: var(--tt-label);

  margin-bottom: 0.8rem; /* label não aceita margin pois é um elemento inline */
  display: block; /* Por isso essa propriedade*/
}

form input {
  width: 100%;
  padding: 1.6rem;

  background-color: var(--bg-input);
  border: 1px solid var(--bd-input);
  border-radius: 0.4rem;
}

form input:focus {
  outline: 2px solid var(--ot-input);
}

form input::placeholder {
  color: var(--tt-placeholder);
}

.input-wrapper + .input-wrapper /* (Ler de trás para frente) Aplicar nesse elemento que tenha essa elemento anteriormente a ele. Ou seja aplicar essas configurações nesse input-wrapper (o segundo), que tenha um input-wrapper (primeiro) antes dele */ {
  margin-top: 1.6rem;
}

button {
  margin-top: 3.2rem;
  padding: 1.6rem;
  width: 100%;

  border-radius: 0.4rem;
  border: none;
  background: var(--bg-button);
  color: var(--tt-button);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  font-weight: bold;

  cursor: pointer;

  transition: background 0.3s;
}

button:hover {
  background: var(--bg-button-hover);
}
